<!-- Adapted from https://www.rmedgar.com/blog/dynamic-fields-flask-wtf/ with the help of chatGPT -->

<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}New Quiz{% endblock %}
{% block head %}
  {{ super() }}
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
     <!-- jQuery -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <!-- Popper.js -->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
     <!-- Bootstrap JS -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}

<div class="container text-center mt-5">
    <h1>Create a Quiz</h1>
    
 <!-- true-false template-->
<div class="template-form question-container border border-dark p-3 mb-3 position-relative" id="template-true-false" style="display: none" questionType=>
    <div class="d-flex justify-content-end">
        <a href="#" class="remove">Delete</a>
    </div>
    <div class="text-left">
        <legend>Question <span class="question-number"/></legend>
        <input type="text" name="questionText" class="form-control" id="questionText" required>
        <fieldset>
            <legend>Answer Choices</legend>
            <div>
                <input type="radio" id="true" name="correctRadio" value="True" unchecked required>
                <label for="true">True</label>
            </div>
            <div>
                <input type="radio" id="false" name="correctRadio" value="False" unchecked required>
                <label for="false">False</label>
            </div>
        </fieldset>
        <input type="hidden" name="questionType" value="true-false">
    </div>
</div>


    <!-- Multiple Choice template-->
    <div class="template-form question-container border border-dark p-3 mb-3 position-relative" id="template-multiple-choice" style="display: none">
        <div class="d-flex justify-content-end">
            <a href="#" class="remove">Delete</a>
        </div>
        <div class="text-left">
        <legend>Question <span class="question-number"/></legend>
        <input type="text" name="questionText" class="form-control" id="questionText" required>
        <legend>Answer Choices</legend>
        <div class="mb-3">
            <input type="radio" id="correctAnswer1" name="correctRadio" value="answer1" required>
            <label for="correctAnswer1" class="form-label">Answer 1</label>
            <input type="text" class="form-control" id="textAnswer1" name="answer1" placeholder="Type answer option here" required>
        </div>
        <div class="mb-3">
            <input type="radio" id="correctAnswer2" name="correctRadio" value="answer2" required>
            <label for="correctAnswer2" class="form-label">Answer 2</label>
            <input type="text" class="form-control" id="textAnswer2" name="answer2" placeholder="Type answer option here" required>
        </div>
        <div class="mb-3">
            <input type="radio" id="correctAnswer3" name="correctRadio" value="answer3" required>
            <label for="correctAnswer3" class="form-label">Answer 3</label>
            <input type="text" class="form-control" id="textAnswer3" name="answer3" placeholder="Type answer option here" required>
        </div>
        <div class="mb-3">
            <input type="radio" id="correctAnswer4" name="correctRadio" value="answer4" required>
            <label for="correctAnswer4" class="form-label">Answer 4</label>
            <input type="text" class="form-control" id="textAnswer4" name="answer4" placeholder="Type answer option here" required>
        </div>
        <input type="hidden" name="questionType" value="multiple-choice">
        </div>
    </div>

    <!-- Check All template-->
    <div class="template-form question-container border border-dark p-3 mb-3 position-relative" id="template-check-all" style="display: none">
        <div class="d-flex justify-content-end">
            <a href="#" class="remove">Delete</a>
        </div>
        <div class="text-left">
        <legend>Question <span class="question-number"/></legend>
        <input type="text" name="questionText" class="form-control" id="questionText" required>
        <legend>Answer Choices</legend>
        <div class="mb-3">
            <input type="checkbox" id="mcorrectAnswer1" name="correctCheckbox" value="answer1" class="check-all">
            <label for="correctAnswer1" class="form-label">Answer 1</label>
            <input type="text" class="form-control" name="answer1" id="mtextAnswer1" placeholder="Type answer option here" required>
        </div>
        <div class="mb-3">
            <input type="checkbox" id="mcorrectAnswer2" name="correctCheckbox" value="answer2" class="check-all">
            <label for="correctAnswer2" class="form-label">Answer 2</label>
            <input type="text" class="form-control" name="answer2" id="mtextAnswer2" placeholder="Type answer option here" required>
        </div>
        <div class="mb-3">
            <input type="checkbox" id="mcorrectAnswer3" name="correctCheckbox" value="answer3" class="check-all">
            <label for="correctAnswer3" class="form-label">Answer 3</label>
            <input type="text" class="form-control" name="answer3" id="mtextAnswer3" placeholder="Type answer option here" required>
        </div>
        <div class="mb-3">
            <input type="checkbox" id="mcorrectAnswer4" name="correctCheckbox" value="answer4" class="check-all">
            <label for="correctAnswer4" class="form-label">Answer 4</label>
            <input type="text" class="form-control" name="answer4" id="mtextAnswer4" placeholder="Type answer option here" required>
        </div>        
        <input type="hidden" name="questionType" value="check-all">
        </div>
    </div>    

    <!-- Freeform template-->
    <div class="template-form question-container border border-dark p-3 mb-3 position-relative" id="template-freeform" style="display: none">
        <div class="d-flex justify-content-end">
            <a href="#" class="remove">Delete</a>
        </div>
        <div class="text-left">
        <legend>Question <span class="question-number"/></legend>
        <input type="text" name="questionText" class="form-control" id="questionText" required>
        <input type="hidden" name="questionType" value="freeform">
        </div>
    </div>

    <form id="quiz" method="POST" action="">
    <div class="mb-3">
        {{ form.quizName.label }} {{ form.quizName(class="form-control") }}
    </div>
        <!-- Container to hold dynamically created subforms -->
    <div id="subforms-container" class="mx-auto p-3">
    </div>

    <!-- question type selection and add button -->
        <label for="questionType">Select Question Type:</label>
        <select name="questionType" id="questionType" class="form-select">
            <option value="">--Choose a Type--</option>
            <option value="true-false">True/False</option>
            <option value="multiple-choice">Multiple Choice</option>
            <option value="check-all">Check all that apply</option>
            <option value="freeform">Freeform</option>
        </select>
        <button type="button" class="btn btn-info btn-sm" id="add">Add</button>
    <!-- submit quiz button -->
    <br />
    <div class="mb-3" required>
       {{form.timer.label}} {{ form.timer }} {{ form.timer.description }}
    </div>
    {% for message in get_flashed_messages()%}
        {% if message %}
            <div class="alert alert-{{message[1]}}" role="alert">
                {{ message[0] }}
            </div>
        {% endif %}
    {% endfor %}
    <div id="error-message" class="alert alert-danger" style="display: none;"></div>
    {{ form.submit(class="btn btn-primary") }}
    <!-- Cancel button -->
    <a href="{{ url_for('root') }}" class="btn btn-secondary">Cancel</a>
    {{ form.csrf_token }}
    </form>
</div>
</html>

<script>

// dynamically adds a form based on the question type selected
function addForm() {
    var questionType = $('#questionType').val();
    var $templateForm = $('#template-' + questionType);
    if ($templateForm.length === 0) {
        console.log('[ERROR] Cannot find template');
        return;
    }

    // Get Last index
    var $lastForm = $('.subform').last();
    var newIndex = 1;

    if ($lastForm.length > 0) {
        newIndex = parseInt($lastForm.data('index')) + 1;
    }

    // Add questions 
    var $newForm = $templateForm.clone().show(); // clone template and make it visible

    $newForm.attr('id', 'subform-' + newIndex); // Assign a unique ID to the new form
    $newForm.addClass('subform'); // Add the 'subform' class to the new form
    $newForm.data('index', newIndex);
    $newForm.find('input[name="questionType"]').val(questionType); // Set questionType value
    $newForm.find('.question-number').text(newIndex);
    $newForm.find('label, input, select, textarea').each(function(idx) {
        var $item = $(this);

        if ($item.is('label')) {
            // Update labels
            var forAttr = $item.attr('for');
            if (forAttr) {
                var newForAttr = forAttr.replace(/^(template-)(.*?)(-)/, 'subform-' + newIndex + '-$2-');
                $item.attr('for', newForAttr);
            }
            return;
        }

        // Update other fields
        $item.attr('id', 'subform-' + newIndex + '-' + $item.attr('name'));
        $item.attr('name', 'subform-' + newIndex + '-' + $item.attr('name'));
    });

    // Append the new form to the container
    $('#subforms-container').append($newForm);
    $newForm.addClass('subform');
    $newForm.removeClass('is-hidden');
    $newForm.find('.remove').click(removeQuestion);
        // Re-bind the click event handler to checkboxes in the newly added form
    $newForm.find('input[type="checkbox"]').click(function() {
        // Toggle the checked attribute of the corresponding checkbox
        var checkboxId = $(this).attr('id');
        var labelFor = $('label[for="' + checkboxId + '"]');
        var inputCheckbox = $(this);
        
        if (inputCheckbox.prop('checked')) {
            inputCheckbox.attr('checked', true);
            labelFor.addClass('checked');
        } else {
            inputCheckbox.attr('checked', false);
            labelFor.removeClass('checked');
        }
    });
}


// Function to remove a question
function removeQuestion() {
    var $removedQuestion = $(this).closest('.subform');
    var removedIndex = parseInt($removedQuestion.data('index'));
    var questionId = 'subform-' + removedIndex;

    $removedQuestion.remove();

    adjustIndices(removedIndex);

    $('.subform').each(function(index) {
        $(this).find('.question-number').text(index + 1);
    });
}


// Function to adjust indices after removing a question
function adjustIndices(removedIndex) {
    // Iterate over all forms after the removed index and update their indices
    $('.subform').each(function() {
        var currentIndex = parseInt($(this).data('index'));
        if (currentIndex >= removedIndex) {
            $(this).data('index', currentIndex - 1);
            // Update IDs and names of elements inside the form
            $(this).find('[id], [name]').each(function() {
                var newName = $(this).attr('name').replace('-' + currentIndex + '-', '-' + (currentIndex - 1) + '-');
                $(this).attr('id', $(this).attr('id').replace('-' + currentIndex + '-', '-' + (currentIndex - 1) + '-'));
                $(this).attr('name', newName);
            });
            $(this).find('.question-number').text(currentIndex - 1);
        }
    });
    
}

// validate checkbox selection before submission
function validateForm() {
    console.log('Validating form...');
    var isValid = true;

    var invalidQuestions = []; 
    var dynamicForms = document.querySelectorAll('#subforms-container .subform');
    console.log(dynamicForms.length);
    if (dynamicForms.length === 0) {
        console.log('No questions found.');
        errorMessage = "You must have at least one question.";
        isValid = false;
    }

    dynamicForms.forEach(function(form) {
        var checkboxes = form.querySelectorAll('input.check-all[type="checkbox"]');
        var checkedCount = 0;
        
        // Iterate over each checkbox in the current form
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                checkedCount++;
            }
        });

        if (checkboxes.length > 0 && checkedCount === 0) {
            isValid = false;
            errorMessage = "Please select at least one correct option for all questions.";
            questionId = form.getAttribute('id');
            //push question number to invalidQuestions array, without prefix
            invalidQuestions.push(questionId.replace('subform-', ''));
        }
    });

    // Display error message if there are invalid questions, otherwise clear errors
    if (!isValid) {
        $('#error-message').text(errorMessage).show();
    } else {
        $('#error-message').hide();
    }

    return isValid;
};


// Function to handle checkbox click using event delegation
$(document).on('click', 'input[type="checkbox"].check-all', function() {
    var checkboxId = $(this).attr('id');
    var labelFor = $('label[for="' + checkboxId + '"]');

    // Change checkbox value when selected
    if ($(this).is(':checked')) {
        labelFor.addClass('checked');
    } else {
        labelFor.removeClass('checked');
    }
});


$(document).ready(function() {
    $('#add').click(addForm); // Bind addForm function to click event of Add button
    $('.remove').click(removeQuestion); // Bind removeQuestion function to click event of Remove button
    $('#quiz').submit(function(event) {
        // Call the validation function before submitting the form
        if (!validateForm()) {
            // Prevent form submission if validation fails
            console.log('Form submission prevented due to validation errors.');
            event.preventDefault();
        } else {
            console.log('Answers are valid.');
        }
    });
});

</script>
{% endblock %}
