<!-- Adapted from https://www.rmedgar.com/blog/dynamic-fields-flask-wtf/ with the help of chatGPT -->

<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <h1>Create a Quiz</h1>
    <!-- true-false template-->
    <div class="template-form" id="template-true-false" style="display: none" questionType=>
        <label for="questionText" class="form-label">Question Text:</label>
        <input type="text" name="questionText" class="form-control" id="questionText" required>
        <fieldset>
            <legend>Answer Choices:</legend>
            <div>
                <input type="radio" id="true" name="correctRadio" value="True" unchecked required>
                <label for="true">True</label>
            </div>
            <div>
                <input type="radio" id="false" name="correctRadio" value="False" unchecked required>
                <label for="false">False</label>
            </div>
        </fieldset>
        <br />
        <input type="hidden" name="questionType" value="true-false">

    </div>

    <!-- Multiple Choice template-->
    <div class="template-form" id="template-multiple-choice" style="display: none">
        <label for="questionText">Question Text:</label>
        <input type="text" name="questionText" required>

        <legend>Answer Choices:</legend>
        <div class="mb-3">
            <input type="radio" id="correctAnswer1" name="correctRadio" value="answer1">
            <label for="correctAnswer1" class="form-label">Answer 1</label>
            <input type="text" class="form-control" id="textAnswer1" name="answer1" placeholder="Type answer option here">
        </div>
        <div class="mb-3">
            <input type="radio" id="correctAnswer2" name="correctRadio" value="answer2">
            <label for="correctAnswer2" class="form-label">Answer 2</label>
            <input type="text" class="form-control" id="textAnswer2" name="answer2" placeholder="Type answer option here">
        </div>
        <div class="mb-3">
            <input type="radio" id="correctAnswer3" name="correctRadio" value="answer3">
            <label for="correctAnswer3" class="form-label">Answer 3</label>
            <input type="text" class="form-control" id="textAnswer3" name="answer3" placeholder="Type answer option here">
        </div>
        <div class="mb-3">
            <input type="radio" id="correctAnswer4" name="correctRadio" value="answer4">
            <label for="correctAnswer4" class="form-label">Answer 4</label>
            <input type="text" class="form-control" id="textAnswer4" name="answer4" placeholder="Type answer option here">
        </div>
        <br />
        <input type="hidden" name="questionType" value="multiple-choice">
    </select>
    </div>

    <!-- Check All template-->
    <div class="template-form" id="template-check-all" style="display: none">
        <label for="questionText">Question Text:</label>
        <input type="text" name="questionText" id="mquestionText" required>
    
        <legend>Answer Choices:</legend>
        <div class="mb-3">
            <input type="checkbox" id="mcorrectAnswer1" name="correctCheckboxes" value="answer1">
            <label for="correctAnswer1" class="form-label">Answer 1</label>
            <input type="text" class="form-control" name="answer1" id="mtextAnswer1" placeholder="Type answer option here">
        </div>
        <div class="mb-3">
            <input type="checkbox" id="mcorrectAnswer2" name="correctCheckboxes" value="answer2">
            <label for="correctAnswer2" class="form-label">Answer 2</label>
            <input type="text" class="form-control" name="answer2" id="mtextAnswer2" placeholder="Type answer option here">
        </div>
        <div class="mb-3">
            <input type="checkbox" id="mcorrectAnswer3" name="correctCheckboxes" value="answer3">
            <label for="correctAnswer3" class="form-label">Answer 3</label>
            <input type="text" class="form-control" name="answer3" id="mtextAnswer3" placeholder="Type answer option here">
        </div>
        <div class="mb-3">
            <input type="checkbox" id="mcorrectAnswer4" name="correctCheckboxes" value="answer4">
            <label for="correctAnswer4" class="form-label">Answer 4</label>
            <input type="text" class="form-control" name="answer4" id="mtextAnswer4" placeholder="Type answer option here">
        </div>
        <br />
        <input type="hidden" name="questionType" value="check-all">
    </div>    

    <!-- Freeform template-->
    <div class="template-form" id="template-freeform" style="display: none">
        <label for="questionText">Question Text:</label>
            <input type="text" name="questionText" required>
        <br />
        <input type="hidden" name="questionType" value="freeform">
    </div>

    <form id="quiz" method="POST" action="">
        <!-- Container to hold dynamically created subforms -->
    <div id="subforms-container">
    </div>

    <!-- question type selection and add button -->
        <label for="questionType">Select Question Type:</label>
        <select name="questionType" id="questionType">
            <option value="">--Choose a Type--</option>
            <option value="true-false">True/False</option>
            <option value="multiple-choice">Multiple Choice</option>
            <option value="check-all">Check all that apply</option>
            <option value="freeform">Freeform</option>
        </select>
        <button type="button" id="add">Add</button>
    <!-- submit quiz button -->
    <br />
    {{form.timer.label}} {{ form.timer }} {{ form.timer.description }}
    <br />
    <button type="submit" id="submit" class="btn btn-primary">Submit Quiz</button>
    {{ form.csrf_token }}
    </form>
</html>

<script>

// dynamically adds a form based on the question type selected
function addForm() {
    var questionType = $('#questionType').val();
    var $templateForm = $('#template-' + questionType);
    console.log(questionType);
    if ($templateForm.length === 0) {
        console.log('[ERROR] Cannot find template');
        return;
    }

    // Get Last index
    var $lastForm = $('.subform').last();

    var newIndex = 0;

    if ($lastForm.length > 0) {
        newIndex = parseInt($lastForm.data('index')) + 1;
    }

    // Maximum of 50 questions
    if (newIndex >= 50) {
        console.log('[WARNING] Reached maximum number of questions');
        return;
    }

    // Add elements
    var $newForm = $templateForm.clone().show(); // clone template and make it visible

    $newForm.attr('id', 'subform-' + newIndex); // Assign a unique ID to the new form
    $newForm.addClass('subform'); // Add the 'subform' class to the new form
    $newForm.data('index', newIndex);
    $newForm.find('input[name="questionType"]').val(questionType); // Set questionType value

    $newForm.find('label, input, select, textarea').each(function(idx) {
        var $item = $(this);

        if ($item.is('label')) {
            // Update labels
            var forAttr = $item.attr('for');
            if (forAttr) {
                var newForAttr = forAttr.replace(/^(template-)(.*?)(-)/, 'subform-' + newIndex + '-$2-');
                $item.attr('for', newForAttr);
            }
            return;
        }

        // Update other fields
        $item.attr('id', 'subform-' + newIndex + '-' + $item.attr('name'));
        $item.attr('name', 'subform-' + newIndex + '-' + $item.attr('name'));
    });

    // Append the new form to the container
    $('#subforms-container').append($newForm);
    $newForm.addClass('subform');
    $newForm.removeClass('is-hidden');

    $newForm.find('.remove').click(removeForm);
}


// Function to remove a form - NOT TESTED
function removeForm() {
    var $removedForm = $(this).closest('.subform');
    var removedIndex = parseInt($removedForm.data('index'));
    var questionId = 'subform-' + removedIndex;

    $removedForm.remove();

    // Remove the associated correct answer when removing the form
    delete correctAnswers[questionId];

    // Update indices
    adjustIndices(removedIndex);
}

// Function to adjust the indices of form fields when removing items - NOT TESTED
function adjustIndices(removedIndex) {
    var $forms = $('.subform');

    $forms.each(function(i) {
        var $form = $(this);
        var index = parseInt($form.data('index'));
        var newIndex = index - 1;

        if (index < removedIndex) {
            // Skip
            return true;
        }

        // Update IDs in form fields
        $form.attr('id', 'subform-' + newIndex);
        $form.data('index', newIndex);

        $form.find('label, input, select, textarea').each(function(j) {
            var $item = $(this);

            if ($item.is('label')) {
                // Update labels
                $item.attr('for', 'subform-' + newIndex + '-' + $item.attr('for'));
                return;
            }

            // Update other fields
            $item.attr('id', 'subform-' + newIndex + '-' + $item.attr('id'));
            $item.attr('name', 'subform-' + newIndex + '-' + $item.attr('name'));
        });
    });
}

$(document).ready(function() {
    $('#add').click(addForm); // Bind addForm function to click event of Add button
    $('.remove').click(removeForm); // Bind removeForm function to click event of Remove button NOT TESTED
});
</script>


{% endblock %}
