<!-- referred to login/signup templates here: https://azmind.com/bootstrap-login-register-forms-templates/ -->
<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login or Create Account</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

{% endblock %}
{% block content %}
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
              <!-- display alerts -->
              {% for message in get_flashed_messages() %}
                  {% if message %}
                    {% if message.startswith("Signup Successful") or message=="You have been logged out." %}
                        <div class="alert alert-success" role="alert">
                          {{ message }}
                        </div>
                    {% elif message.startswith("Email") or message.startswith("Incorrect password") %} 
                        <div class="alert alert-warning" role="alert">
                          {{ message }}
                        </div>      
                    {% else %}           
                        <div class="alert alert-danger" role="alert">
                          {{ message }}
                        </div>
                    {% endif %}    
                  {% endif %}                        
              {% endfor %}
                <div class="row">
                    <br/>
                    <div class="col-sm-5">
                        <!-- Login Form -->
                        <form id="login-form" method="POST" action="{{ url_for('auth.login') }}">
                            <h3>Log In</h3>
                              <div class="form-group">
                                {{ loginForm.csrf_token }}
                                {{ loginForm.email.label }}  
                                  {{ loginForm.email(class="form-control form-control-md", placeholder="Email")}}
                              <br />
                              {{ loginForm.password.label }} 
                                  {{ loginForm.password(class="form-control form-control-md", placeholder="Password")}}
                              <br />
                              {{ loginForm.submit(class="btn btn-primary") }}
                                <br />
                          </form>
                        </div> 
                    </div>
                    <div class="col-sm-1 middle-border"></div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <!-- Signup Form -->
                        <form id="signup-form" method="POST" action="{{ url_for('auth.signup') }}">
                            <h3 align="center">Sign Up</h3>
                            <div class="form-group">
                              <div class="form-group">
                                {{ signupForm.csrf_token }}
                                {{ signupForm.email.label }}   
                                {% if signupForm.email.errors %}
                                {{ signupForm.email(class="form-control form-control-md is-invalid")}}
                                <div class="invalid-feedback">
                                  {% for error in signupForm.email.errors %}
                                    <span>{{ error }}</span>
                                  {% endfor %}
                                </div>
                                {% else %}
                                  {{ signupForm.email(class="form-control form-control-md", placeholder="Email")}}
                                {% endif %}
                              <br />
                              {{ signupForm.firstName.label }} {{ signupForm.firstName(class="form-control form-control-md", placeholder="First Name") }}
                              <br />
                              {{ signupForm.lastName.label }} {{ signupForm.lastName(class="form-control form-control-md", placeholder="Last Name") }}
                              <br />
                              {{ signupForm.password.label }} 
                              {% if signupForm.password.errors %}
                                {{ signupForm.password(class="form-control form-control-md is-invalid", placeholder="Password")}}
                                {{ signupForm.password2.label }} {{ signupForm.password2(class="form-control form-control-md", placeholder="Confirm Password")}}
                                <div class="invalid-feedback">
                                  {% for error in signupForm.password.errors %}
                                    <span>{{ error }}</span>
                                  {% endfor %}
                                </div>
                                {% else %}
                                  {{ signupForm.password(class="form-control form-control-md", placeholder="Password")}}
                                  {{ signupForm.password2.label }} {{ signupForm.password2(class="form-control form-control-md", placeholder="Confirm Password")}}
                                {% endif %}
                              <br />
                              {{ signupForm.submit(class="btn btn-primary") }}
                              <br />     
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</html>
