<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}Taker Responses{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taker Responses for Attempt {{ link_id }}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <style>
      table, th, td {
          border-collapse: collapse;
      }
      th, td {
          padding: 10px;
          text-align: left;
      }
      th {
          background-color: #f2f2f2;
      }
      .correct { background-color: #ddffdd; }
      .incorrect { background-color: #ffdddd; }
  </style>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Responses for Attempt ID: {{ link_id }} by {{ taker_email }}</h1>
    {% if responses %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Question</th>
                <th>Your Response</th>
                <th>Correct?</th>
            </tr>
        </thead>
        <tbody>
            {% for response in responses %}
            <tr class="{{ 'correct' if response.question_type == 'freeform' and response.response != None or response.correct else 'incorrect' }}">
                <td>{{ response.question_details }}</td>
                <td>{{ response.response or 'No response' }}</td>
                <td>
                    {% if response.question_type == 'freeform' %}
                        {{ 'Not applicable' if response.response else 'No' }}
                    {% else %}
                        {{ 'Yes' if response.correct else 'No' }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info" role="alert">
        This quiz has not been taken yet.
    </div>
    {% endif %}
    <a href="{{ url_for('results.show_results') }}" class="btn btn-secondary">Back to Results</a>
</div>
{% endblock %}
</html>